<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssafit.model.dao.BoardDao">

	<!-- 전체 게시글 조회 및 검색기능 -->
	<select id="selectBoardList" resultType="Board">
		SELECT * 
		FROM board;
	</select>

	<!-- 상세 게시글 조회 -->
	<select id="selectOne" resultType="Board" parameterType="int">
		SELECT * 
		FROM board
		WHERE board_id = ${BoardId};
	</select>
	
	<!-- 게시글 이름으로 조회 -->
	<select id="selectBoardListByTitle" resultType="Board" parameterType="String">
		SELECT *
		FROM board
 		WHERE title LIKE CONCAT('%', #{title}, '%');
	</select>
	
	<!-- 인기 게시글 조회 -->
	<select id="selectPopularBoard" resultType="Board" parameterType="String">
		SELECT *
		FROM board
		WHERE created_at <![CDATA[>]]> #{startDate}
		ORDER BY view_cnt DESC
		LIMIT 3;
	</select>
	
	<!-- 게시글 등록 -->
	<insert id="insertBoard" parameterType="Board" keyProperty="boardId" useGeneratedKeys="true">
		INSERT INTO board (title, content, user_id)
		VALUES (#{title}, #{content}, #{userId});
	</insert>
	
	<!-- 게시글 삭제  -->
	<delete id="deleteBoard" parameterType="int">
		DELETE 
		FROM board
		WHERE board_id = ${boardId};
	</delete>
	
	<!-- 조회수 증가 -->
	<update id="updateViewCnt" parameterType="int">
		UPDATE board
		SET view_cnt = view_cnt+1
		WHERE board_id = ${boardId};
	</update>
	
	<!-- 게시글 수정 -->
	<update id="updateBoard" parameterType="Board">
		UPDATE board
		SET content = #{content}
		WHERE board_id = ${boardId};
	</update>

</mapper>