<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssafit.model.dao.ClubDao">
	
	<select id="selectAllClub" resultType="Club" parameterType="int">
		SELECT club_id, club_name, club_description, user_id
		FROM Club;
	</select>

	<select id="select" resultType="Club" parameterType="int">
		SELECT club_id, club_name, club_description, user_id
		FROM Club
		WHERE club_id = ${clubId};
	</select>
	
	<select id="selectClubByName" resultType="Club" parameterType="String">
		SELECT club_id, club_name, club_description, user_id
		FROM Club
		WHERE club_name = #{clubName};
	</select>

	<select id="selectClubListByManager" resultType="Club" parameterType="String">
		SELECT club_id, club_name, club_description, user_id
		FROM Club
		WHERE user_id = #{userId};
	</select>

	<select id="selectClubListByName" resultType="Club" parameterType="String">
		SELECT club_id, club_name, club_description, user_id
		FROM Club
		WHERE club_name LIKE CONCAT ('%', #{clubName}, '%');
	</select>

	<insert id="insertClub" parameterType="Club">
		INSERT INTO Club (club_id, club_name, club_description, user_id)
		VALUES (#{clubId}, #{clubName}, #{clubDescripton}, ${userId});
	</insert>
	
	<delete id="deleteClub" parameterType="Map">
		DELETE
		FROM Club
		WHERE user_id = #{userId} AND club_name = #{clubName};
	</delete>

</mapper>